{% extends 'base.html' %}   
{% load bootstrap4 %}
    {% block body %}

     <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>{{job.title}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="job_sumary">
                        <div class="summery_header">
                            <h3>Profile Summery</h3>
                        </div>
                        <div class="job_content">
                            <!-- <ul>
                                <li>User: <span>{{Profile.user}}</span></li>
                                <li>Email: <span>{{Profile.user.email}} </span></li>
                                <li>First_Name: <span> {{Profile.First_Name}} </span></li>
                                <li>Midle_Name: <span>{{Profile.Midle_Name}}</span></li>
                                <li>Last_Name: <span>{{Profile.Last_Name}}</span></li>
                                <li>User First_Name: <span> {{Profile.user.first_name}} </span></li>
                                <li>Birth_Date: <span>{{Profile.Birth_Date}}</span></li>
                                <li>Gender: <span>{{Profile.Gender}}</span></li>
                                <li>Soical_State: <span>{{Profile.Soical_State}} </span></li>
                                <li>Phone: <span> {{Profile.Phone_Number}} </span></li>
                                <li>Country: <span> {{Profile.Country.name}} </span></li>
                                <li>city_name: <span>{{Profile.city_name}}</span></li>
                                <li>Group: <span>{{group}}</span></li>
                            </ul> -->



                              <div class="container" style="width: 30rem;">
                                <img src="{{Profile.Photo.url}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Profile Summery</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">User: <span>{{Profile.user}}</span></li>
                                  <li class="list-group-item">Email: <span>{{Profile.user.email}} </span></li>
                                  <li class="list-group-item">First_Name: <span> {{Profile.First_Name}} </span></li>
                                  <li class="list-group-item">Midle_Name: <span>{{Profile.Midle_Name}}</span></li>
                                  <li class="list-group-item">Last_Name: <span>{{Profile.Last_Name}}</span></li>
                                  <li class="list-group-item">User First_Name: <span> {{Profile.user.first_name}} </span></li>
                                  <li class="list-group-item">Birth_Date: <span>{{Profile.Birth_Date}}</span></li>
                                  <li class="list-group-item">Gender: <span>{{Profile.Gender}}</span></li>
                                  <li class="list-group-item">Soical_State: <span>{{Profile.Soical_State}} </span></li>
                                  <li class="list-group-item">Phone: <span> {{Profile.Phone_Number}} </span></li>
                                  <li class="list-group-item">Country: <span> {{Profile.Country.name}} </span></li>
                                  <li class="list-group-item">city_name: <span>{{Profile.city_name}}</span></li>
                                  <li class="list-group-item">Group: <span>{{group}}</span></li>



                                </ul>
                                <div class="card-body">
                                  <a href="{% url 'accounts:profile_edit'%}" class="card-link">Edite Profile</a>
                                  <a href="#" class="card-link">Another link</a>
                                </div>
                              </div>
                        </div>
                       
                        <div class="job_content">
                            <div class="row">
                                {%for expereion in expereions %}

                                    <!-- <ul>
                                        <li>Job_Title: <span> {{expereion.Job_Title}} </span></li>
                                        <li>Midle_Name: <span>{{expereion.Organisation}}</span></li>
                                        <li>Duration: <span>{{expereion.Duration}}</span></li>
                                        <li>From_Date: <span> {{expereion.From_Date}} </span></li>
                                        <li>To_Date: <span>{{expereion.To_Date}}</span></li>
                                        <li>Country: <span>{{expereion.Country}}</span></li>
                                        <li>city_name: <span>{{expereion.city_name}}</span></li>
                                        <li>Location: <span> {{expereion.Location}} </span></li>
                                        <li>Responsibilities: <span>{{expereion.Responsibilities}} </span></li>

                                    </ul> -->
                                    <br>
                                    <table class="table"  >
                                        <caption><a href="#"><i class="fas fa-edit"></i></a>
                                            <a class="text-danger" href="#"><i class="fas fa-trash-alt"></i></a></caption>
                                        <thead>
                                            <tr>
                                                <th   colspan="2" bgcolor="lightgray"‏‏ align="center">Practical Experiences</th>
                                                
                                               </tr>

                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">Job Title </th>
                                                <td>{{expereion.Job_Title}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Organisation</th>
                                                <td>{{expereion.Organisation}}</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">Duration</th>
                                                <td colspan="2">{{expereion.Duration}}</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">From Date</th>
                                                <td colspan="2"> {{expereion.From_Date}}</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">To Date</th>
                                                <td colspan="2">{{expereion.To_Date}}</td>
    
                                            </tr>
                                            <tr>
                                                <th scope="row">Country</th>
                                                <td colspan="2">{{expereion.Country}}</td>

                                            </tr>
                                        
                                            <tr>
                                                <th scope="row">City Name </th>
                                                <td colspan="2">{{expereion.city_name}}</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">Location </th>
                                                <td colspan="2">{{expereion.Location}}</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">Responsibilities </th>
                                                <td colspan="2">{{expereion.Responsibilities}}</td>

                                            </tr>
                                        </tbody>
                                            
                                        </tbody>
                                    </table>


                            
                                {%endfor%}
                        </div>  
                        </div>
                        <div class="job_content">
                            <div class="row">
                                <br>
                                {%for course in courses %}
                                    
                                    <table class="table"  >
                                        <caption><a href="#"><i class="fas fa-edit"></i></a>
                                            <a class="text-danger" href="#"><i class="fas fa-trash-alt"></i></a></caption>
                                        <thead>
                                            <tr>
                                                <th   colspan="2" bgcolor="lightgray"‏‏ align="center">Courses</th>
                                                
                                               </tr>

                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">Cours Name</th>
                                                <td>{{course.Cours_Name}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Company</th>
                                                <td>{{course.Company}}</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">Type</th>
                                                <td colspan="2">{{course.Type}}</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">Country</th>
                                                <td colspan="2"> {{course.Country.name}}</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">City Name</th>
                                                <td colspan="2">{{course.city_name}}</td>

                                            </tr>
                                        </tbody>
                                            <tr>
                                                <th scope="row">From Date</th>
                                                <td colspan="2">{{course.race_start}}</td>

                                            </tr>
                                        </tbody>
                                            <tr>
                                                <th scope="row">To Date</th>
                                                <td colspan="2">{{course.race_finish}}</td>

                                            </tr>
                                            
                                        </tbody>
                                    </table>

                            
                                {%endfor%}
                        </div>  
                        </div>
                        <div class="job_content">
                            <div class="row">
                                <br>
                                {%for academi in academic %}  

                                    <table class="table"  >
                                        <caption><a href="#"><i class="fas fa-edit"></i></a>
                                            <a class="text-danger" href="#"><i class="fas fa-trash-alt"></i></a></caption>
                                        <thead>
                                            <tr>
                                                <th   colspan="2" bgcolor="lightgray"‏‏ align="center">Academic Background</th>
                                                
                                               </tr>

                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">Certificate Type</th>
                                                <td> {{academi.Certificate_Type}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">University Name</th>
                                                <td>{{academi.University_Name}}</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">specialization</th>
                                                <td colspan="2">{{academi.specialization}}</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">Location</th>
                                                <td colspan="2"> {{academi.Location}}</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">Duration</th>
                                                <td colspan="2">{{academi.Duration}}</td>

                                            </tr>
                                        </tbody>
                                            <tr>
                                                <th scope="row">From Date</th>
                                                <td colspan="2">{{academi.From_Date}}</td>

                                            </tr>
                                        </tbody>
                                            <tr>
                                                <th scope="row">To Date</th>
                                                <td colspan="2">{{academi.To_Date}}</td>

                                            </tr>
                                            <tr>
                                                <th scope="row">GPA</th>
                                                <td colspan="2">{{academi.GPA}}</td>
                                                
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                    {%endfor%}
                        </div>  
                        </div>
                    </div class="p-5">
                    <a href="{% url 'accounts:profile_edit'%}" class="boxed-btn3 w-100">Edite Profile</a>
                   <div>
                   </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    {% endblock body %}
   
                                           


   